<ul class="nav flex-column" *ngIf="appsState.selectedApp | async; let app">
    <li class="nav-item" *ngIf="app.canCreateSchema">
        <a class="nav-link" routerLink="schemas" routerLinkActive="active">
            <i class="nav-icon icon-schemas"></i> <div class="nav-text" translate>Schemas</div>
        </a>
    </li>
    <li class="nav-item" *ngIf="app.canAccessContent">
        <a class="nav-link" routerLink="content" routerLinkActive="active">
            <i class="nav-icon icon-contents"></i> <div class="nav-text" translate>Content</div>
        </a>
    </li>
    <li class="nav-item" *ngIf="app.canReadAssets">
        <a class="nav-link" routerLink="assets/filters" routerLinkActive="active">
            <i class="nav-icon icon-assets"></i> <div class="nav-text" translate>Assets</div> 
        </a>
    </li>
    <li class="nav-item" *ngIf="app.canReadRules">
        <a class="nav-link" routerLink="rules" routerLinkActive="active">
            <i class="nav-icon icon-rules"></i> <div class="nav-text" translate>Rules</div>
        </a>
    </li>
    <li class="nav-item" *ngIf="app.canUpdateGeneral">
        <a class="nav-link" routerLink="settings" routerLinkActive="active">
            <i class="nav-icon icon-settings"></i> <div class="nav-text" translate>Settings</div>
        </a>
    </li>
    <li class="nav-item" *ngIf="app.canAccessApi">
        <a class="nav-link" routerLink="api" routerLinkActive="active">
            <i class="nav-icon icon-api"></i> <div class="nav-text" translate>API</div>
        </a>
    </li>
</ul>